<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"backgroundColor":"background","layout":{"type":"default"}} -->
<main class="wp-block-group alignfull has-background-background-color has-background" style="padding:0">
    
    <!-- wp:cover {"url":"","dimRatio":50,"overlayColor":"background","isUserOverlayColor":true,"minHeight":100,"minHeightUnit":"vh","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
    <div class="wp-block-cover" style="padding:0;min-height:100vh">
        <span aria-hidden="true" class="wp-block-cover__background has-background-background-color has-background-dim-50 has-background-dim"></span>
        <div class="wp-block-cover__inner-container">
            
            <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"4rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center","verticalAlignment":"bottom"}} -->
            <div class="wp-block-group" style="padding-top:0;padding-bottom:4rem">
                
                <!-- wp:separator {"style":{"layout":{"selfStretch":"fixed","flexSize":"80px"}},"backgroundColor":"aluminum"} -->
                <hr class="wp-block-separator has-text-color has-aluminum-color has-alpha-channel-opacity has-aluminum-background-color has-background"/>
                <!-- /wp:separator -->
                
                <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
                <div class="wp-block-buttons">
                    <!-- wp:button {"className":"btn-outline","style":{"typography":{"letterSpacing":"0.2em"}}} -->
                    <div class="wp-block-button btn-outline"><a class="wp-block-button__link wp-element-button" href="/" style="letter-spacing:0.2em">ENTER</a></div>
                    <!-- /wp:button -->
                </div>
                <!-- /wp:buttons -->
                
            </div>
            <!-- /wp:group -->
            
        </div>
    </div>
    <!-- /wp:cover -->
    
</main>
<!-- /wp:group -->
